@tailwind base;
@tailwind components;
@tailwind utilities;

// the fonts are locale so it work on any country or vpn
@font-face {
  font-family: "Poppins";
  src: url("../public/Fonts/Fonts/Poppins/Poppins-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../public/Fonts/Fonts/Open_Sans/static/OpenSans-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Braahmi";
  src: url("../public/Fonts/Fonts/Braah_One/BraahOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

// All the buttons
@mixin btn($theme) {
  @if ($theme == mt) {
    @apply rounded-xl border-2 border-c2-C font-poppins font-bold text-c1-A;
    svg {
      @apply text-c2-A;
    }
  } @else if ($theme == c2) {
    @apply rounded-xl border-2 border-c2-B bg-c2-A font-poppins font-bold text-c1-J;
    svg {
      @apply text-c1-J;
    }
  } @else if ($theme == c1) {
    @apply rounded-xl bg-c1-F font-poppins font-bold text-c1-A;
    svg {
      @apply text-c1-A;
    }
  } @else if ($theme == c1-J) {
    @apply rounded-xl bg-c1-J font-poppins font-bold text-c1-A;
    svg {
      @apply text-c2-A;
    }
  }
}

@mixin size() {
  @apply w-fit px-[48px] py-[18px];
  &.btn-md {
    @apply w-fit px-[16px] py-[12px];
  }
  &.btn-sm {
    @apply w-fit px-[12px] py-[6.5px] text-[15px];
  }
}

.btn {
  &-mt {
    @include btn(mt);
    @include size();
  }
  &-c2 {
    @include btn(c2);
    @include size();
  }
  &-c1 {
    @include btn(c1);
    @include size();
  }
  &-c1-J {
    @include btn(c1-J);
    @include size();
  }
}

.arrow {
  @apply flex items-center justify-center gap-[6px];
  svg {
    @apply h-3 w-3 pl-4;
  }
}
.arrow_l {
  @apply flex flex-row-reverse items-center justify-center gap-[6px];
  svg {
    @apply h-3 w-3 rotate-180 pl-4;
  }
}

// All the inputs

.input-text {
  label {
    @apply font-poppins text-[12px] font-[600] text-c1-A;
  }
  .input {
    @apply relative flex w-fit items-center;
    input[type="text"] {
      @apply h-10 w-80 rounded-xl border border-c1-D bg-c1-H py-[12px] pl-[21px] pr-[15px] font-sans font-sans text-[14px] font-[400] text-c1-C outline-none;
    }
    .arrows {
      @apply absolute right-[10px] flex flex-col items-center text-[10px];
      svg:nth-child(1) {
        @apply translate-y-[1px] -rotate-90;
      }
      svg:nth-child(2) {
        @apply -translate-y-[1px] rotate-90;
      }
    }
  }
}

// to make the check box one

.Check {
  display: block;
  position: absolute;
  padding-left: 8px;
  padding-bottom: 19px;
  align-self: center;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.Check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: solid 1px #d1d1d1;
  border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.Check:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.Check input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.Check input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.Check .checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

// the enevelop

.env {
  @apply absolute;
}

// End all the inputs

// catigores

.catigores {
  @apply bg-c1-H;
  ul {
    @apply container flex h-[55px] flex-row items-center gap-6;
  }
  li {
    @apply flex cursor-pointer items-center gap-2 font-poppins text-[15px] font-[500] text-c1-A;
    svg {
      @apply rotate-90 text-[10px] text-c2-A;
    }
  }
}

.A-side_compo {
  @apply flex flex-col gap-1;
  h3 {
    @apply mb-4 font-poppins text-[16px] font-[600] text-c1-A;
  }
  ul {
    @apply mb-12 flex flex-col gap-2;
    li {
      @apply font-sans text-[14px] text-c2-A underline;
    }
  }
  button {
    @apply h-[48px] w-[180px] text-[13px];
  }
}

// products

.products {
  .bunner {
    @apply flex h-[270px] w-[420px] flex-col justify-between rounded-xl bg-c1-E px-8 pb-8 pt-12;
    span {
      @apply font-poppins text-[12px] font-[600] text-c2-A;
    }
    h2 {
      @apply font-poppins text-[22px] font-[600] text-c1-A;
    }
  }
}

// Slider

// .slick-list {
//   overflow: unset;
//   left: 285px;
//   height: 220px;
// }
.slick-prev,
.slick-next {
  width: 32px;
  height: 48px;
  background-color: black !important;
}
.slick-next {
  right: 0px
}
.slick-prev {
  left:0px;
}
